@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.bunny.net/css?family=poppins:400|red-hat-text:400);

$primary-background: #fafafa;

body {
	background-color: $primary-background;
	font-family: 'Red Hat Text', sans-serif;
}

button {
	$default-button-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);

	padding: 10px 15px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: $default-button-shadow;
	transition: 200ms ease;
	text-transform: uppercase;
	letter-spacing: 0.05rem;

	&:hover {
		box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
	}

	&:active {
		transform: scale(0.99);
		box-shadow: none;
	}
}

#site-name,
h1,
h2,
h3,
button {
	font-family: 'Poppins', sans-serif;
}

#featured-recipe-item,
#recipe-list-item {
	transition: 200ms ease;

	&:hover:active {
		transform: scale(0.995);
	}
}
